<% content_for :body do %>
  <div id="edit_user">
    <h1 class="cover-heading"><%= @title %></h1>
    <% if !@user.errors.empty? %>
      <%= error_messages("Warning!", "There have been some errors you need to fix.", @user) %>
    <% end %>
    <%= form_for @user, url: {action: "set_recovery_password"} , :html => { class: "form-signin", id: "edit_user_password", role: "form" } do  |form|  %>
      <% form.hidden_field :updating_password %>
      
      <%= hidden_field_tag 'id', @user.id %>
      
      <label for="password">Contraseña</label>
      <%= attribute_tag(@user, :password, params = {form: form, placeholder: "Contraseña", type: "password", class: "form-control", validations: :all}) %>
      
      <label for="password_confirmation">Confirmacion</label>
      <%= attribute_tag(@user, :password_confirmation, params = {form: form, placeholder: "Confirmacion", type: "password", class: "form-control", validations: :all}) %>
      
      <%= form.submit "Confirmar", class: "btn btn-lg btn-primary" %>

    <% end %>
  </div>
<% end %>
