<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag @configuration.logo_url(:icon).to_s if @configuration.logo? %>

          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="<%= root_path %>">Inicio</a></li>
            <li><a href="#about">Quienes somos</a></li>
            <li><a href="#contact">Contactenos</a></li>
            <% if signed_in? %>
              <% if admin? %>
                  <li>
                  <a href="/administrators">
                     <span class="glyphicon glyphicon-cog"></span>
                     Administracion
                  </a>
                  </li>
              <% end %>
              <li id="fat-menu" class="dropdown">
                
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= image_tag current_user.avatar_url(:icon).to_s %> Cuenta <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="<%= profile_path %>">
                      <% if current_user.avatar? %>
                        <%= image_tag current_user.avatar_url(:icon).to_s %> Perfil 
                      <% else %>
                          <span class="glyphicon glyphicon-user"></span> Perfil
                      <% end %>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a rel="nofollow" href="/signout" data-method="delete">
                      <span class="glyphicon glyphicon-off"></span> Cerrar Sesión
                    </a>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Ingresar", signin_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
