<%= will_paginate lines %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Acciones</th>
        <th>Version</th>
        <th>Estado</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% lines.each do |line| %>
        <tr>
          <td>
            <a href="<%= item_item_version_path(item, line) %>"  class="btn btn-default btn-default"><span class="glyphicon glyphicon-search"></span></a>
            <% if line.state == 'open' %>
              <a data-confirm="Seguro que desea cerrar la version?" class="btn btn-default btn-default" data-method="patch" href="<%= close_item_item_version_path(item,line) %>" rel="nofollow"><span class="glyphicon glyphicon-lock"></span></a>
              <a data-confirm="Seguro que desea cancelar la version?" class="btn btn-default btn-default" data-method="delete" href="<%= item_item_version_path(item, line) %>" rel="nofollow"><span class="glyphicon glyphicon-trash"></span></a>
            <% end %>
          </td>
          <td> 
            <%= line.id %>
          </td>
          <td> 
            <%= line.state %>
          </td>
          <td>
            <%= I18n.l line.created_at, format: :short %>
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate lines %>

<script>
  $("div.pagination ul").addClass('pagination');
  
  $('.previous_page > a').html("Previo");
  $('.next_page > a').html("Proximo");
</script>
