<form role="form" action="<%= item_path(item) %>" method="get">
  <div class="form-group">
    <label for="state">Estado</label>
    <%= select_tag(:state, options_for_select([ "open", "close", "cancel"], params[:state]), {include_blank: true, class: "form-control"}) %>
  </div>
  
  <button type="submit" class="btn btn-default">Buscar</button>
</form>

<hr />

<%= form_for [item, @item_version],  :html => { role: "form" } do  |form| %>
  <%= form.hidden_field :item_id %>
  
  <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary") do %>
    <span class="glyphicon glyphicon-plus"></span> Crear Nueva Version
  <% end %>

<% end %>
