<% content_for :navigation do %>
  <%= installation_navigation_bar("", "active", "") %>
<% end %>

<% content_for :body do %>

  <h1 class="cover-heading"><%= @title %></h1>
  <%= form_for @superAdministrator, :html => { class: "form-signin", role: "form" } do  |form|  %>
    <%= form.email_field :email, class: "form-control", placeholder: "Email address" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
    <%= form.password_field :confirmation, class: "form-control", placeholder: "Confirmation" %>
    
    <button class="btn btn-lg btn-default" type="submit">Create User</button>
  <% end %>

<% end %>
