<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= social_scripts %>
  <%= render partial: '/shared/google_session_handler' %>
  <%= render partial: '/shared/facebook_session_handler' %>
  <%= render partial: '/shared/twitter_session_handler' %>
  
  <%= yield :head %>
</head>
<body>

<body style="">
    


    <%= render partial: "layouts/application/navbar" %>


    <div class="container marketing">
      <%= render partial: "shared/flash" %>
      
      <%= yield :body %>
    
    </div><!-- /.container -->
    <%= render partial: "layouts/application/footer", locals: {config: @configuration} %>
    <script>
      $(document).ready(function()    
      {
        var Offset = $('body').offset();
        $('body').offset(Offset);
      });
    </script>
</body>
</html>
