<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<body style="">
    
    <%= render partial: "layouts/application/navbar" %>

    <%= render partial: "layouts/application/carousel" %>


    <div class="container marketing">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    

    </div><!-- /.container -->
    <%= render partial: "layouts/application/footer" %>
    
    <script>
      $(document).ready(function()    
      {
        var Offset = $('body').offset();
        $('body').offset(Offset);
      });
    </script>
</body>
</html>
